

/* custom properties */
:root{
    --primary-color:#1ABC9C;
    --secondary-color:#2C3E50;
    --primary-text-color:white;
    --secondary-text-color: black;
}


/* debug elements */


.ms_header{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.hero{
    background-color: var(--primary-color);
}
.hero img{
    width: 9rem;
}
.hero h1,p,span{
    color: var(--primary-text-color);
}

.portfolio span{
  color: var(--secondary-text-colorcolor);
}
.img-portfolio{
   
}
.about{
    background-color: var(--primary-color);
}
.about h3{
    color: var(--primary-text-color);
}
.contact span{
    color:var(--secondary-text-color)
}
.footer-top{
    background-color: #3A546D;
    min-height: 250px;
    padding-top: 50px;
}
.footer-bottom{
    background-color: #2C3E50;
    min-height: 120px;
    padding-top: 50px;
}
.send-btn{
    background-color: #1ABC9C;
    color: white;
}
h6{
    color: var(--primary-text-color);
}
.footer-span{
    color:  var(--primary-color);
}
.footer-right{
    color: var(--primary-text-color);
    padding-top: 30px;
}
.social i{
color: white;
border: 1px solid white;
width: 50px;
height: 50px;
font-size: 30px;
padding-top: 10px;
border-radius: 50%;

}
.social{
    padding: 30px;
}


