
/* debug elements */

/* .row{
    text-align: center;
} */
.header{
    background-color: lightblue;
}
.hero{
    background-color: lightcoral;
}
.portfolio{
    background-color: lightblue;
}
.img-portfolio{
   
}
.about{
    background-color: lightblue;
}
.contact{
    background-color: lightcoral;
}
.footer-top{
    background-color: lightblue;
}
.footer-bottom{
    background-color: lightcoral;
}

