
/* debug elements */

.row{
    text-align: center;
}
.header{
    background-color: lightblue;
}
.hero{
    background-color: lightcoral;
}
.portfolio{
    background-color: lightblue;
}
.img-portfolio{
    background-color: lightcoral;
}
.about{
    background-color: lightblue;
}
.contact{
    background-color: lightcoral;
}
.footer{
    background-color: lightblue;
}